/*Google Fonts import*/
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/*General Styling*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color:hsl(154 84% 70%);
    background: hsl(154 50% 5%);
}
main {
    display: flex;
    position: relative;
    min-height: 100vh;
    font-family: "Press Start 2P", serif;
    }

header {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
header>h1 {
    font-size: small;
    padding: 5em 10em;
}
nav {
    display: flex;
    position: relative;
    box-shadow: none;
    width: fit-content;
    padding: 1rem 2rem;
    text-decoration: none;
    font-family: "Press Start 2P", serif;
    border: #72f3bb solid;
}
#menu>li {
    padding-left: 2rem;
    list-style-type: none;
}

#instruction pre{
    font-size: x-large;
}

/*Make ascii art header responsive taken from stackoverflow 
(https://stackoverflow.com/questions/75695347/how-can-i-make-ascii-art-pre-tag-responsive-without-media-queries)*/

header pre,
div pre{
    font-size: max(0.2rem, 1vmin);
   }

body {
    margin-bottom: 20px;
    }
#answerinput{
    height:50px;
    width:80px;
    }
footer {
    margin-top: auto;
    justify-content: space-between;
    top: 100%;
    text-align: center;
    font-family: "Press Start 2P", serif;    
}

/* responsive layout by @DeCodeDev on instagram*/
.container {
    flex-grow: 1;
    flex-basis: 200px;
    text-align: center;
    padding: 30px 20px;
    justify-content: space-between;
    width: 100%;
}
#game-interface{
    flex-direction: column;
    justify-content: center;
}
#housecontainer img {
    max-width: 100%;
    max-height: 100%;
}

#current {
    margin: auto;
    padding: 10px;
}
/*Forms*/
form{
    justify-content: space-between;
    display: flex;
}
/*Buttons*/
#returnbutton, #submit {
    display: flex;
    padding: 20px 30px;
    border-radius: 5px;
}
